<!DOCTYPE html>
<html>
  <head>
    <title>Chuck Norris</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
    <h1 class="jumbotron text-center">Chuck Norris Jokes</h1>

    <form action="/" method="GET">
        <label for="explicit">
          <input type="radio" value="explicit" name="category">
          explicit
        </label>
        <label for="dev">
          <input type="radio" value="dev" name="category">
          dev
        </label>
        <label for="movie">
          <input type="radio" value="movie" name="category">
          movie
        </label>
        <label for="food">
          <input type="radio" value="food" name="category">
          food
        </label>
        <label for="celebrity">
          <input type="radio" value="celebrity" name="category">
          celebrity
        </label>
        <label for="science">
          <input type="radio" value="science" name="category">
          science
        </label>
        <label for="sport">
          <input type="radio" value="sport" name="category">
          sport
        </label>
        <label for="politcal">
          <input type="radio" value="politcal" name="category">
          political
        </label>
        <label for="religion">
          <input type="radio" value="religion" name="category">
          religion
        </label>
        <label for="animal">
          <input type="radio" value="animal" name="category">
          animal
        </label>
        <label for="history">
          <input type="radio" value="history" name="category">
          history
        </label>
        <label for="music">
          <input type="radio" value="music" name="category">
          music
        </label>
        <label for="travel">
          <input type="radio" value="travel" name="category">
          travel
        </label>
        <label for="career">
          <input type="radio" value="career" name="category">
          career
        </label>
        <label for="money">
          <input type="radio" value="money" name="category">
          money
        </label>
        <label for="fashion">
          <input type="radio" value="fashion" name="category">
          fashion
        </label>
        
        <button type="submit" class="btn btn-success" >Get Chuck Norris Joke</button>
      </span>
    </form>
    <% if(joke) { %>
    <h3><%= joke.value %></h3>
    <% } else { %>
      <h3>Click the button fool!</h3>
      <% } %>
  </body>
</html>
